body,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "PT Sans", sans-serif;
}

.header {
  background-color: #202846;
  display: flex;
  justify-content: space-around;
}
.header ul,
.header a {
  display: flex;
  color: white;
  text-decoration: none;
  align-items: center;
  margin: 0 30px;
  font-size: 24px;
  padding: 10px;
  font-size: 24px;
  font-weight: 700;
}

.nav {
  border-right-width: 1px;
  border-right-color: white;
  border-right-style: solid;
}
.box1 {
  background-color: #c6c6dc;
  font-size: 48px;
  color: #202846;
  padding: 40px 8em;
  font-style: italic;
}
.box {
  background-color: #e5e5e5;
}
.center-box {
  padding: 50px 20em;
}
.box2 {
  background-image: url("../img/Rectangle\ 39.png");
  background-repeat: round;
  color: white;
  font-size: 36px;
  text-align: center;
  font-style: italic;
  padding: 40px;
  font-weight: 700;
}
.box2_name {
  font-weight: bold;
  font-style: normal;
  font-size: 50px;
}
.box3 {
  background-color: #cbcbcb;
  color: #202846;
  font-size: 30px;
  padding: 5ex;
}
.footer {
  background-color: #202846;
  display: flex;
  color: #eeecf1;
  font-size: 36px;
  padding: 20px 90px;
  font-style: italic;
}
.button {
  text-align: center;
  padding-bottom: 30px;
  font-size: 27px;
}
.button a {
  background-color: #202846;
  text-decoration: none;
  color: white;
  padding: 5px 30px;
  border-radius: 20px;
}
.infobox {
  background-color: #bdbdc6;
  margin: 4em 20em;
  display: flex;
  justify-content: center;
  padding: 5ex;
}
.infobox img {
  width: 200px;
  margin-top: 30px;
}
.info1 {
  margin: 20px;
  font-size: 24px;
  text-align: center;
  background-color: #69749b;
  border-radius: 20px;
  padding: 10px 40px;
  color: white;
}
.info2 {
  margin: 20px;
  font-size: 24px;
  text-align: center;
  background-color: #202846;
  border-radius: 20px;
  padding: 10px 40px;
  color: white;
}
.infobox_right li {
  margin: 20px;
  font-size: 36px;
  border-bottom: 5px solid white;
  font-style: italic;
  color: #353c57;
}
.infobox_right a {
  text-decoration: none;
  color: #353c57;
}
.infobox-left {
  text-align: center;
  padding: 0 10em;
}
.infobox-left a {
  text-decoration: none;
  color: white;
}
.info_cont {
  border-bottom: 1px black solid;
}
.container2 {
  display: flex;
  background-color: #e5e5e5;
  justify-content: center;
}
.container1 {
  display: flex;
  background-color: #e5e5e5;
  justify-content: center;
}
.info {
  margin: 20px 70px;
}
.map {
  margin-bottom: 64px;
  border: 3px solid rgba(0, 0, 0, 0.05);
  border-radius: 40px;
}
.info_cont {
  font-size: 32px;
}
.data_info {
  font-size: 30px;
  text-align: center;
}
.data_info a {
  text-decoration: none;
  color: black;
}
