body,
ul {
  list-style: none;
}
.page {
  width: 1728px;
  height: 1149px;
  box-sizing: border-box;
}
.header {
  height: 101px;
  background-color: black;
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;
}
.header_list {
  display: flex;
  margin-left: 50px;
}
.header_list-item {
  width: 310px;
  justify-content: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.header_list-item a {
  text-decoration: none;
  color: white;
  padding: 20px 20px;
}

.center {
  height: 998px;
  background-image: url(../unsplash_NTYYL9Eb9y8.png);
  display: flex;
  align-items: center;
  justify-content: center;
}
.center_inside {
  background-color: black;
  padding: 60px;
}

h1 {
  margin: 0;
  color: #fd7d54;
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 800;
  line-height: 78px;
  letter-spacing: 0.3em;
  text-align: center;
}
.center-inside-top p {
  padding-bottom: 40px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
}
.center_down {
  display: flex;
}
.card {
  width: 293px;
  height: 440px;
  background-color: black;
  color: white;
  border: 1px white solid;
  margin: 40px;
  text-align: center;
  padding-top: 50px;
}
.card a {
  text-decoration: none;
  color: #41c3f6;
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 800;
  line-height: 23px;
  letter-spacing: 0.12em;
}
.card p {
  padding-bottom: 30px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
}
.card h2 {
  font-family: Montserrat;
  font-style: normal;
  font-size: 27px;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0.12em;
}

.line {
  color: azure;
  width: 8%;
}

.footer {
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: black;
}
.footer p {
  margin: 0;
}
